/* ===== ФОН ===== */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #000000, #1a1a1a, #ff6a00);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    z-index: -1;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.wrapper {
    max-width: 1100px;
    margin: 40px auto;
    background: #111;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

nav a:hover {
    color: orange;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}



.top-banner {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
}



.server-block {
    text-align: center;
    margin-bottom: 50px;
}

button {
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}


.shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: orange;
    font-weight: bold;
}



footer {
    margin-top: 40px;
    text-align: center;
    opacity: 0.6;
}



@media(max-width: 768px) {
    .wrapper {
        margin: 10px;
        padding: 20px;
    }
}